# Telegram Bot Token（从 @BotFather 获取）
TELEGRAM_TOKEN=8264088891:AAEw4t6kCLwln9K5CS5TY252Zlu0ZJH1iVY

# HKBU GenAI API（从 https://genai.hkbu.edu.hk 登录后获取）
HKBU_API_KEY=270a4066-38db-4a22-8539-bfe11974a499
HKBU_BASE_URL=https://genai.hkbu.edu.hk/api/v0/rest
HKBU_MODEL=gpt-5-mini
HKBU_API_VER=2024-12-01-preview

# AWS RDS PostgreSQL 数据库
DB_HOST=db
DB_NAME=chatbot_db
DB_USER=chatbot_user
DB_PASSWORD=changeme
DB_PORT=5432